* {
	/*box-sizing: border-box;*/
	margin: 0;
	padding: 0;
}
/*body{
	position: absolute;
}*/
header{
	width: 100vw;
	height: 100vh;
	position: relative;
	/*z-index: 1;*/
}
nav {
	display: inline-flex;
	background-color: #000;
	width: 100%;
	height: 10vh;
	left: 0;
	font-size: 35px;
	position: fixed;
	z-index: 9;	
	/*box-shadow:  0px 3px 6px 
	rgba(255 0 255 );*/
}
a{
	height: 25%;
	left: 58%;
	margin: 20px;
	color: #fff;
	text-decoration: none;
	/*margin-left: 18%;*/
	/*background-color: rgba(10,23,55,0.5);*/
	box-shadow:  0px 0px 120px ;

	/*border:solid 1px blue;
	border-radius: 15px 15px 0px 0px;*/
}
p {
	width: 38%;
	border-style: solid;
	font-family: arial;
	font-size: 30px;
	color: #00CD00;
	background-color: rgba(10,23,55,0.5);
	position: absolute;
	padding: 20px;
	top: 68%;
	left: 45%;
	right: 40%;
	box-shadow:  0px 0px 84px 
	rgba(255 0 255 );
	/*z-index: 1;*/
}
section{
	height:100vh;
	width:100vw;
	background-color: #000;
	position: relative;
	background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png)repeat;
	/*z-index: 1;*/
}


footer{
	width: 100vw;
	background: #000;
	display: inline-flex;
	/*position: relative;*/
}
button {
	width: 3%;
	height: 2.8%;
	margin-top: 7.8%;
	margin-left: 87%;
	position: absolute;
}
.p-footer{
	width: 10%;
	top: 112vw;
	left: 73%;
	font-size: 100%;
	border-radius: 65%;
	/*position: relative;*/
	/*box-shadow:  0px 0px 74px 
	rgba(255 0 255 );*/
}

.imagem-footer{
	width: 20%;
}
ul {
	list-style: none;
	margin-left: 35%;
	position: absolute;
	font-size: 3vh;
	margin-top: 6%;

}
.lista{
	display: block;
	height: 5%;
	left: 50%;
}
.titulo-footer{
	position: absolute;
	margin-top: 60px;
	margin-left: 75%;
	width: 8.5%;
	height: 5%;
	color: #fff;
	box-shadow: 0px 0px 60px 
	rgba(124 252 0  );
	/*border-radius: 50%;*/
}
.input{
	width: 13%;
	height: 20%;
	margin-top: 8%;
	margin-left: 52%;
}
.foto-nav{
	width: 5vw;
	height: 5vw;
	box-shadow: 0px 0px 84px 
	rgba(255 0 255 );
	margin-right: 40%;
	border-radius: 50%;
}
.foto-header{
	width: 100vw;
	height: 100%;
	/*position: absolute;*/
}
.monstro1{
	
	height: 70%;
	width: 30%;
	bottom: 1%;
	left: 5%;
	border-radius: 50% 50% 25% 25%;
	background-color: #CD853F;
	position: absolute;
	animation:medo 3s infinite linear;
	box-shadow:  0px 0px 84px 
	rgba(255 69 0 );
	/*animation:medo 3s infinite linear;*/
	/*z-index:2;*/
}
.cabelo{
	color: red;
	width: 55%;
	height: 70%;
	/*top: 20%;
*/	right: 102vh;
	bottom: 7%;
	transform: rotate(182deg);
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 60px solid #800000;
	border-radius: 100% 100% 70% 70%;
	position: relative;
}
.boca{
	position: absolute;
	width: 50%;
	height: 20%;
	left: 25.5%;
	bottom: 8%;
	background-color:black;
	/*transform: rotate(45deg);*/
	animation: boca 3s infinite linear;
	/*transform:rotate(-2deg);*/
	border-radius: 100% 100% 10% 10%;
	border-top: 10px solid #000;
	border-bottom: 10px solid #800000;

}
.nariz{
	position: absolute;
	width: 10%;
	height: 10%;
	top: 50%;
	left: -132%;
	background-color: black;
	border-radius: 50%;
}

.olho1{
	position: absolute;
	width: 28%;
	height: 28%;
	top: 15%;
	left: 15%;
	background-color:#8B4726;
	transform: rotate(80deg);
	border-radius: 100% 0%;
	animation: olhando 1s infinite linear;

}
.olho2{
	position:absolute;
	width: 28%;
	height: 28%;
	top: 15%;
	right: 15%;
	background-color:#8B4726;
	transform: rotate(20deg);
	border-radius: 100% 0%;
	animation: olhando 1s infinite linear;
}

.sobrancelha1{
	position: absolute;
	width: 22%;
	height: 10%;
	top: 8%;
	left:18%;
	background-color: #000;
	transform:rotate(60deg);
	border-radius: 100% 0%;
	animation: sobrancelha 3s infinite linear;
}
.sobrancelha2{
	position: absolute;
	width: 22%;
	height: 10%;
	top: 8%;
	right: 18%;
	background-color: #000;
	transform:rotate(-15deg);
	border-radius: 100% 0%;
	animation: sobrancelha 3s infinite linear;
}
.iris1{
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 4%;
	left: 65%;
}
.iris2 {
	width: 35px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 69%;
	left: 1%;
}
.monstro2 {
	height: 70%;
	width: 30%;
	bottom: 1%;
	left: 58%;
	border-radius: 75%;
	background-color: #00FA9A;
	position: absolute;
	animation: monstro 3s infinite linear;
	box-shadow:  0px 0px 84px 
	rgba(145 44 238 );
}
/*.monstro2:hover{
	transform: scale(0.1);
	}*/
.sobrancelha1-monstro2{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 8%;
	left: 20%;
	background-color: #000;
	transform:rotate(40deg);
	border-radius: 100% 0%;
	/*animation: sobrancelha 3s infinite linear;*/
}
.sobrancelha2-monstro2{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 8%;
	right: 20%;
	background-color: #000;
	transform:rotate(15deg);
	border-radius: 100% 0%;
	/*animation: sobrancelha 3s infinite linear;*/
}
.olho1-monstro2{
	position: absolute;
	width: 28%;
	height: 28%;
	top: 15%;
	left: 16%;
	background-color:#7B68EE;
	transform: rotate(80deg);
	border-radius: 100% 0%;
	/*animation: olhando 1s infinite linear;*/
}
.olho2-monstro2{
	position:absolute;
	width: 28%;
	height: 28%;
	top: 15%;
	right: 15%;
	background-color:#7B68EE;
	transform: rotate(18deg);
	border-radius: 100% 0%;
	/*animation: olhando 1s infinite linear;*/
}
.iris1-monstro2{
	width: 44px;
	height: 45px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 4%;
	left: 54%;
}
.iris2-monstro2{
	width: 44px;
	height: 45px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 55%;
	left: 8%;
}
.boca-monstro2{
	color: #fff;
	width: 50%;
	height: 70%;
	/*top: 20%;
*/	left: 15%;
	bottom: 12%;
	/*transform: rotate(15deg);*/
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 60px solid #fff;
	border-radius: 100% 100% 80% 80%;
	position: absolute;
}
.nariz-monstro2{
	position: absolute;
	width: 15%;
	height: 10%;
	top: 51%;
	left: 45%;
	background-color: black;
	border-radius: 50%;
}
.lua {
	position: absolute;
	z-index: 8;
	margin-top: 50px;
	margin-left: 50px;
	top: 11%;
	left: 41%;
	width: 114px;
	height: 114px;
	border-radius: 50%;
	background-color: #F6F6F6;
	opacity: .9;
	box-shadow: 0px 0px 64px 
	rgba(158, 230, 254, 19);
	transition: all 3s;	
}
.lua:hover{
	transform: scale(1.8);
}
.pisca{
	width:2%;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    /*-moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;*/
	
	

}
.nuvem{
	width:100%;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	/*background-size: 1000px 1000px;*/
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
   /* z-index: 3;*/
    opacity: .6;
    animation: andar 7s infinite linear;
  

}


@keyframes olhando {
  50% {background: red}
  40% {transform:translatey (50px)}
  
}
@keyframes monstro {
  50% {background:#8B4726}
  40% {transform: translatey (-50px)}
}
@keyframes boca {
  10% {background: #fff}
  90% {transform: translatey (-50px)}
}
@keyframes sobrancelha {
  40% {top: 10%;}
  20% {top: 10%;}
}

@keyframes medo {
  50% {background:#FF4500}
  40% {transform: translatey (-50px)}
}
@keyframes andar {
	from{right: 500px;}
	to{right: 00px;}
}